.App {
  display: flex;
  justify-content: center;
  line-height: 1.3;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: flex;
}

input,
textarea {
  display: block;
  width: 400px;
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
}

button {
  background-color: #e7e7e7;
  padding: 0.5rem 1rem;
  color: #333;
  border: 1px solid #333;
  border-radius: 0.5rem;
  cursor: pointer;
}

button:hover {
  background-color: #333;
  color: #e7e7e7;
}

button:active,
button:focus {
  outline: none;
}

.form-control {
  margin-bottom: 1.5rem;
}

.error {
  color: tomato;
}
